[Unit]
Description=LndHub Wrapper for Lightning Daemon
Wants=lnd.service redis.service
After=lnd.service redis.service

[Service]
WorkingDirectory=/home/<lndhub-user>/LndHub
Environment="PORT=<lndhub-port>"
ExecStart=<node-bin> build/index.js

User=<lndhub-user>
Group=<lndhub-user>
Type=simple
KillMode=process
LimitNOFILE=128000
TimeoutSec=240
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
